<p id="notice"><%= notice %></p>

<h1>Steps</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each_with_index do |step, index| %>
      <tr>
        <td>
          <% unless index == 0 %>
            <%= link_to '↑↑', sort_step_path(@steps[index - 1].id, step.id), method: :post %>
          <% end %>
        </td>
        <td>
          <% unless index == @steps.length - 1 %>
            <%= link_to '↓↓', sort_step_path(@steps[index - 1].id, step.id), method: :post %>
          <% end %>
        </td>
        <td><%= step.name %></td>
        <td><%= link_to 'Edit', edit_step_path(step), class: 'edit-step', id: step.id %></td>
        <td><%= link_to 'Destroy', step, class: 'delete-step', id: step.id, method: :delete, format: :json, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Step', '#', class: 'new-step' %>
