<!DOCTYPE html>
<html>
  <head>
    <title>小説管理サイト</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.xdomainajax.js"></script>
    <% if controller.controller_name == "tops" && controller.action_name == "index" && user_signed_in? %>
      <%= include_gon %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'tops/index', 'data-turbolinks-track': 'reload' %>
    <% else %>
      <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>
  </head>

  <body>
    <%= render partial: "layouts/header" %>
    <main id='body-main'>
      <%= yield %>
    </main>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
